.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.idea/
*.iml
.vscode/
.widget_preview/
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/local.properties
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
